.follow-button,
.add-tag,
.add-parking
{
	cursor:pointer;
}

.tags-container span
{
	background:#ccc;
	padding:5px;
	margin-right:10px;
	display:inline-block;
	border-radius:15px;
}

#image-preview-div img
{
	max-width:200px;
	margin:15px 0;
	padding:10px;
	border:solid 1px #3097d1;
}

.image-container img
{
	max-width:100%;
	max-height:100px;
}

.btn-circle.btn-xl
{
	width:125px;
	height:125px;
	border-radius:64px;
	padding:23px;
}

.create-stack-button
{
	font-size:85px;
	line-height:85px;
}

.panel
{
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading
{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default > .panel-heading
{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-body
{
	padding:15px;
}

.btn.set-link-reminder
{
	white-space:normal;
	color:#fff;
}

.well
{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.add-link-modal
{
	display:block;
	width:200px;
	border:solid 1px #ccc;
	text-align:center;
	margin:20px 0;
}

.add-link-modal i
{
	font-size:72px;
	margin:30px auto;
}

.row img,
.link-image img
{
	max-width:100%;
}

.link-delete-button
{
	border-radius:35px;
}

.link-hover
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	background:rgba(0,0,0,0.3);
	display:none;
}

.link-delete-button
{
	margin-top:30%;
}

.single-link:hover .link-hover
{
	display:block;
}

.link-delete-button .fa
{
	color:#fff;
}

.author .user-ctrl
{
	display:inline-block;
}

.user-ctrl .avatar
{
	float:left;
	margin-top:-7px;
}

.avatar > img
{
	border-radius:30px;
	width:39px;
	height:39px;
}

.youtube .click-here
{
	display:block;
	width:350px;
	height:220px;
	background:url(../images/youtube-video.png);
}

.inner-wrap
{
	box-shadow:0px 3px 5px rgba(0,0,0,0.5);
	overflow:hidden;
	margin-bottom:30px;
	border-top:5px solid #1da1f2;
}

.featured-image img
{
	width:100%;
	max-height:222px;
}

.stack-content
{
	padding:10px;
}

.stack-content .title a
{
	font-weight:bold;
	color:#000;
}

.stack-content .categories
{
	float:left;
	line-height:3;
}

.stack-content .date
{
	float:right;
	line-height:3;
}

.stack-content .author.user-ctrl
{
	clear:both;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	padding:20px 0;
}

.stack-footer
{
	padding:5px 0;
}

.stack-footer i
{
	color:#fff;
	background:#1da1f2;
	padding:8px 11px;
	border-radius:50%;
}

.stack-wrapper
{
	border:solid 1px #ccc;
	padding:20px;
}

.stack-wrapper .meta .author
{
	float:left;
}

.stack-wrapper .meta .stack-rate
{
	float:right;
}


.show .dropdown-menu
{
	display:block;
}

.search-wrapper
{
	width:70%;
	position:relative;
}

.search-wrapper input.form-control
{
	padding:0px 0px 0px 45px;
	position:relative;
}

.search-wrapper::before
{
	content: "\f002";
	display:block;
	position:absolute;
	top:4px;
	left:12px;
	font-family: FontAwesome;
	color:#ccc;
	font-size:18px;
	z-index:9;
}

.tags-container span
{
	position:relative;
	cursor:pointer;
}

.tags-container span i
{
	color:#3097d1;
	position:absolute;
	top:0;
	left:0;
	background:rgba(0,0,0,0.2);
	width:100%;
	height:32px;
	text-align:center;
	line-height:32px;
	font-size:24px;
	border-radius:15px;
	display:none;
}

.tags-container span:hover i
{
	display:block;
}

.meta-category .categories
{
	width:56%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.people-box .header
{
	min-height:50px;
	background:#3097d1;
}
