.follow-button,
.add-tag,
.add-parking
{
	cursor:pointer;
}

.tags-container span
{
	background:#ccc;
	padding:5px;
	margin-right:10px;
	display:inline-block;
	border-radius:15px;
}

#image-preview-div img
{
	max-width:200px;
	margin:15px 0;
	padding:10px;
	border:solid 1px #3097d1;
}

.image-container img
{
	max-width:100%;
	max-height:100px;
}

.btn-circle.btn-xl
{
	width:125px;
	height:125px;
	border-radius:64px;
	padding:23px;
}

.create-stack-button
{
	font-size:85px;
	line-height:85px;
}

.panel
{
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading
{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default > .panel-heading
{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-body
{
	padding:15px;
}

.btn.set-link-reminder
{
	white-space:normal;
	color:#fff;
}

.well
{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


.row img,
.link-image img
{
	max-width:100%;
}

.link-delete-button
{
	border-radius:35px;
}

.link-hover
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	background:rgba(0,0,0,0.3);
	display:none;
}

.link-delete-button
{
	margin-top:30%;
}

.single-link
{
	border:solid 1px #ccc;
	box-shadow:0px 2px 10px #ccc;
	margin:10px 0;
}

.single-link .title
{
	padding:15px;
}

.single-link:hover .link-hover
{
	display:block;
}

.link-delete-button .fa
{
	color:#fff;
}

.author .user-ctrl
{
	display:inline-block;
}

.user-ctrl .avatar
{
	float:left;
	margin-top: 0px;
}

.avatar > img
{
	border-radius:30px;
	width:39px;
	height:39px;
}

.youtube .click-here
{
	display:block;
	width:350px;
	height:220px;
	background:url(../images/youtube-video.png);
}

.inner-wrap
{
	box-shadow:0px 3px 5px rgba(0,0,0,0.5);
	overflow:hidden;
	margin-bottom:30px;
	border-top:5px solid #1da1f2;
}

.featured-image img
{
	width:100%;
	max-height:222px;
}

.stack-content
{
	padding:10px;
}

.stack-content .title a
{
	font-weight:bold;
	color:#000;
}

.stack-content .categories
{
	float:left;
	line-height:3;
}

.stack-content .date
{
	float:right;
	line-height:3;
}

.stack-content .author.user-ctrl
{
	clear:both;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	padding:20px 0;
}

.stack-footer
{
	padding:5px 0;
}

.stack-footer i
{
	color:#fff;
	background:#1da1f2;
	padding:8px 11px;
	border-radius:50%;
}

.stack-wrapper
{
	border:solid 1px #ccc;
	padding:20px;
}

.stack-wrapper .meta .author
{
	float:left;
}

.stack-wrapper .meta .stack-rate
{
	float:right;
}

.dashboard .stack-content .title
{
	font-weight:bold;
	text-transform: uppercase;
	margin-bottom:30px;
	font-size:16px;
}

.dashboard .stack-content .author.user-ctrl
{
	border-top:solid 1px #efefef;
	border-bottom:none;
	font-weight:bold;
}

.dashboard .inner-wrap
{
	min-height:250px;
	position:relative;
}

.dashboard .stack-footer
{
	position:absolute;
	width:100%;
	text-align:center;
	bottom:5px;
}

.dashboard .stack-footer a
{
	text-transform: uppercase;
	border-radius:0;
	background-color:#1da1f2;
	border-color:#1da1f2;
	font-size:12px;
	margin-top:5px;
}

.stack-title span
{
	float:right;
	font-size:13px;
	vertical-align:bottom;
	display:inline-block;
	line-height:3;
	color:#666;
}

.stack-title i.fa-plus-circle
{
	color:#1da1f2;
}

.show .dropdown-menu
{
	display:block;
}

.search-wrapper
{
	width:74%;
	position:relative;
}

.search-wrapper input.form-control
{
	padding:0px 0px 0px 45px;
	position:relative;
}

.search-wrapper a.input-button
{
	font-size:18px;
	color:#ccc !important;
	position:absolute;
	z-index: 9;
	top:4px;
	left:0px;
	width:45px;
	text-align:center;
}


.tags-container span
{
	position:relative;
	cursor:pointer;
}

.tags-container span i
{
	color:#3097d1;
	position:absolute;
	top:0;
	left:0;
	background:rgba(0,0,0,0.2);
	width:100%;
	height:32px;
	text-align:center;
	line-height:32px;
	font-size:24px;
	border-radius:15px;
	display:none;
}

.tags-container span:hover i
{
	display:block;
}

.meta-category .categories
{
	width:56%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.people-box
{
	min-height:250px;
	background:#fff;
	border:solid 1px #ccc;
	box-shadow:3px 3px 3px #ccc;
}

.people-box .header
{
	min-height:65px;
	background:#3097d1;
	background-size:cover;
	background-position:center center;
}

.people-box .details
{
	text-align:left;
	margin-left:8px;
}

.people-box .name
{
	clear:both;
	font-weight:bold;
	font-size:13px;
}

.people-box .name span
{
	color:#666;
	font-weight:normal;
}

.people-box .user-ctrl .avatar
{
	margin-top:-20px;
}

.people-box .user-ctrl .avatar > .inner
{
	position:relative;
	overflow:hidden;
}

.people-box a.follow-people-button
{
	color:#1da1f2;
	font-weight:bold;
	border:solid 1px #1da1f2;
	border-radius:20px;
	margin-top:20px;
	display:inline-block;
	padding:2px 10px;
	font-size:11px;
	cursor:pointer;
}

.people-box a.follow-people-button:hover
{
	background:#1da1f2;
	color:#fff;
}

.people-box .fullname
{
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.people-box .profile
{
	font-size:11px;
}

.stack-content .user-ctrl .avatar > .inner
{
	position:relative;
}

.profile-header
{
	width:100%;
	height:300px;
	background:#1da1f2;
	margin-bottom:120px;
	position:relative;
	background-size:cover;
	background-position:center left;
}

.profile-avatar
{
	position:absolute;
	bottom:-100px;
	left:20px;
	cursor:pointer;
	border:solid 4px #fff;
	border-radius:50%;
	overflow:hidden;
}

.profile-avatar .hover
{
	display:none;
	width:100%;
	height:100%;
	color:#fff;
	background:rgba(0,0,0,0.5);
	position:absolute;
	top:0;
	vertical-align: middle;
}

.profile-avatar .hover a
{
	padding-top:40%;
	display:block;
	font-weight:bold;
	color:#fff;
	text-align:center;
}

.profile-avatar .hover a:hover
{
	text-decoration:none;
}

.profile-avatar:hover .hover
{
	display:block;
}

.profile-avatar img,
#upload-image-form img
{
	max-width:200px;
	max-height:200px;
	width:200px;
	height:200px;
}

#upload-image-form img
{
	margin-bottom:20px;
	border-radius:50%;
}

.profile-background-button
{
	background:#000;
	padding:5px;
	margin:20px;
	border:1px solid #fff;
	float:left;
	display:none;
}

.profile-header:hover .profile-background-button
{
	display:inline-block;
}

.profile-background-button a,
.profile-background-button a:hover
{
	color:#fff;
	text-decoration:none;
}

.profile-background-button:hover
{
	border:solid 1px #ccc;
}

#upload-background-form img
{
	max-width:100%;
	max-height:300px;
}

a.downvote
{
	cursor:pointer;
}



