/*****************************
Table of Content:

#Layout
#Typography
#Header
#Footer
#Single Stack
#Dashboard
*****************************/
/*****************************
    #Layout
*****************************/
body {
    font-family: "Lato", sans-serif;
}
body > .container {
    padding: 20px 15px 0 !important;
}
/*** Media Queries ***/
@media screen and (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}
@media screen
and (max-width: 1599px)
and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
/*****************************
    #Typography
*****************************/
    html,body {
        color: #404040;
    }
    :root {
        --dark: #404040;
    }
    a {
        color: #1da1f2;
    }
    .transition a {
        transition: all 200ms ease-in-out;
    }
/*****************************
    #Header
*****************************/
header {
    min-height: 80px;
    background-color: #ffffff;
}
.main_nav.bg-light {
    background-color: #ffffff !important;
    height: 80px;
}
.mobile-menu-wrapper > ul.justify-content-end {
    width: 100%;
}
.navbar-brand {
    margin-right: 1.3rem;
}
.navbar-brand > img {
    height: 55px;
    margin-top: -10px;
}
.topics-wrapper {
    width: 8%;
}
.user-ctrl > a,
.mobile-nav > ul.menu > li.user > a {
    display: flex;
    align-items: center;
}
.user-ctrl .avatar,
.mobile-nav > ul.menu > li.user > a > .avatar {
    position: relative;
    width: 50px;
}
.user-ctrl .avatar > .inner,
.mobile-nav > ul.menu > li.user > a > .avatar > .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border: 1px solid #ccd0d2;
    border-radius: 30px;
    width: 39px;
    height: 39px;
    font-size: 1.1em;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.user-ctrl .dropdown-menu {
    top: 45px;
}
.topics-wrapper > .nav > .nav-item.dropdown > .dropdown-toggle {
    color: rgba(0,0,0,.5);
    position: relative;
    padding-left: 24px;
}
.topics-wrapper > .nav > .nav-item.dropdown > .dropdown-toggle:before,
.mobile-nav li.topics > a:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/icon-categories.svg);
    position: absolute;
    left: 0;
}
.mobile-nav {
    padding: 20px 30px;
}
.mobile-nav > .search-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.mobile-nav ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mobile-nav ul.menu li a {
    color: #cccccc;
}
.mobile-nav .sub-menu-item {
    display: list-item;
    padding: .25rem 1rem;
}
.mobile-nav > ul.menu > li > a {
    display: block;
    padding: 16px 0;
    position: relative;
}
.mobile-nav > ul.menu > li > a:hover {
    text-decoration: none;
}
.mobile-nav > ul.menu > li.topics > a,
.mobile-nav > ul.menu > li.user > a {
    position: relative;
    padding-left: 30px;
}
.mobile-nav .sub-menu > .inner {
    background-color: #515151;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    padding: .5rem;
    opacity: 0;
    display: none;
}
.mobile-nav li.with-menu > a:after {
    content: "\f0da";
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 54px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.mobile-nav li.with-menu > a.open:after {
    content: "\f0d7";
}
.mobile-nav > ul.menu > li.user > a > .avatar {
    width: 30px;
    position: absolute;
    left: -5px;
}
.mobile-nav > ul.menu > li.user > a > .avatar > img {
    width: 30px;
    height: 30px;
}
.mobile-nav > ul.menu > li.user > a > .avatar > .inner {
    border: 0;
    width: 30px;
    height: 30px;
    color: rgba(0,0,0,.7);
    font-size: 12px;
}
.mobile-nav .dropdown-divider {
    border-top: 1px solid #2b2b2b;
}
/*** Media Queries ***/
@media screen and (max-width: 1599px) {
    .topics-wrapper {
        width: 10%;
    }
    .search-wrapper {
        width: 68%;
    }
}
@media screen and (max-width: 1279px) {
    .topics-wrapper {
        width: 16%;
    }
    .search-wrapper {
        width: 62%;
    }
}
@media screen and (max-width: 991px) {
    .topics-wrapper {
        width: 14%;
    }
    .search-wrapper {
        width: 50%;
    }
}
@media screen and (min-width: 768px) {
    .main_nav li.list-divider {
        position: relative;
        padding: 0 10px;
    }
    .main_nav li.list-divider:after {
        content: "";
        background-color: #ccd0d2;
        display: block;
        width: 1px;
        height: 26px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .search-mobile > .search-wrapper,
    .topics-mobile > .topics-wrapper {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
    .navbar-brand > img.mobile {
        display: none;
        margin-top: -8px;
    }
}
@media screen and (max-width: 767px) {
    .main_nav li.list-divider {
        display: none;
    }
    .mobile-menu-wrapper {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: #2b2b2b;
    }
    .mobile-menu-wrapper > .navbar-nav {
        padding: 15px 0px;
    }
    .mobile-menu-wrapper > .navbar-nav > li > a {
        padding-left: 30px;
        padding-right: 30px;
    }
    .topics-wrapper, .search-wrapper {
        display: none;
    }
    .user-menu {
        display: none;
    }
    .navbar-brand > img:not(.mobile) {
        display: none;
    }
    .navbar-brand > img.mobile {
        margin-top: -8px;
    }
}
@media screen and (max-width:639px) {
    .mobile-menu-wrapper {
        /*height: 100vh;*/
    }
}
/*****************************
    #Footer
*****************************/
main {
    min-height: calc(100vh - 203px);
}
.footer {
    background-color: #ffffff;
}
.footer > .container {
    border-top: 1px solid rgb(204, 208, 210);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 40px;
}
.footer .copyright {
    color: #959595;
    letter-spacing: 0.08em;
    font-size: .85em;
    font-weight: 300;
    line-height: normal;
}
/*****************************
    #Single Stack
*****************************/
.stack-wrapper {
    margin-bottom: 20px;
}
.stack-wrapper .content h2 {
    font-weight: 600;
}
.stack-wrapper .content p {
    font-size: 1rem;
    font-weight: 300;
}
.stack-wrapper .content .meta {
    margin-top: 20px;
}
.stack-wrapper .content .author.user-ctrl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.stack-wrapper .content .author.user-ctrl p span {
    font-weight: 300;
    font-style: italic;
    margin-right: 15px;
}
.stack-wrapper .content .author.user-ctrl p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
.stack-wrapper .meta .stack-rate {
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.stack-wrapper .meta .stack-rate a {
    font-size: 12px;
    margin-left: 6px;
    margin-right: 6px;
}
.stack-wrapper .meta .stack-rate a.upvote,
.stack-wrapper .meta .stack-rate a.downvote {
    font-weight: 600;
}
.stack-wrapper .meta .stack-rate a:first-child {
    margin-left: 0;
}
.stack-wrapper .meta .stack-rate a:last-child {
    margin-right: 0;
}
.stack-wrapper .meta .divider {
    display: block;
    width: 1px;
    height: 30px;
    background-color: #cccccc;
    margin-left: 5px;
    margin-right: 5px;
}
.stack-wrapper .stack-rate a.icon-social {
    font-size: 20px;
    color: #969696;
}
.accordion.stack-single .card {
    border: 0;
}
.accordion.stack-single .card-header {
    background-color: transparent;
    border-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.accordion.stack-single .card-header > button {
    font-size: 18px;
    text-transform: uppercase;
    color: #404040;
    letter-spacing: .12em;
    padding-right: 20px;
    position: relative;
}
.accordion.stack-single .card-header > button:before {
    content: "\f054";
    color: #1da1f2;
    font-family: "FontAwesome";
    line-height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.accordion.stack-single .card-header > button.open:before {
    content: "\f078";
}
.accordion.stack-single .card-header > button:hover,
.accordion.stack-single .card-header > button:focus {
    text-decoration: none;
}
.accordion.stack-single .card-header > .divider {
    display: block;
    background-color: #d1d1d1;
    width: 100%;
    height: 1px;
    margin-left: 10px;
}
.stack-links .single-link {
    position: relative;
}
.stack-links .single-link:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #1da1f2;
    top: 0;
}
.stack-links .single-link .inner {
    padding: 10px;
}
.stack-links .single-link .image > img,
.stack-panel .featured-image > img {
    display: block;
    width: 100%;
    height: 175px;
    object-fit: cover;
}
.stack-links .single-link .title a {
    color: #404040;
    font-weight: 600;
}
.stack-links .single-link .divider {
    display: block;
    width: 100%;
    height: 1px;
    background: #d1d1d1;
    margin: 5px 0;
}
.stack-panel,
.stack-panel .panel-heading,
.stack-panel .panel-body {
    padding: 0;
}
.stack-panel .panel-heading {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 24px;
}
.stack-panel .panel-heading h3 {
    font-size: 18px;
    text-transform: uppercase;
}
.stack-panel .panel-heading h3 span {
    font-weight: 600;
}
.stack-panel .panel-body {
    padding-left: 15px;
    padding-right: 15px;
}
.stack-panel .stack-content .title {
    padding: 5px 0;
    border-bottom: 1px solid #d1d1d1;
}
.stack-panel .stack-content .stack-footer i {
    padding: 8px 10px;
}
/*****************************
    #Dashboard
*****************************/
.dashboard .nav.nav-pills {
    padding: 10px 0;
    margin-bottom: 15px;
}
.dashboard .nav.nav-pills li a {
    font-size: 14px;
    color: #404040;
    font-weight: 500;
    position: relative;
}
.dashboard .nav.nav-pills li a:hover {
    color: #fd3b82;
}
.dashboard .nav.nav-pills li a.create {
    background-color: #fd3b82;
    color: #ffffff;
    border-radius: 26px;
    padding-right: 32px;
}
.dashboard .nav.nav-pills li a.create:hover {
    background-color: #404040;
}
.dashboard .nav.nav-pills li a.create:after {
    content: "\f055";
    font-family: 'FontAwesome';
    font-size: 16px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 12px;
    bottom: 0;
    margin: auto;
}
